body {
  background-color: #f0f0f0;
  font-family: sans-serif;
}
.header {
  background-color: #00ab8e;
  padding: 10px;
  width: 100%;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  color: #ffffff;
}
.header a {
  color: #ffffff;
  text-decoration: none;
}
.header a:hover {
  color: #606060;
}
.name {
  font-style: italic;
  float: right;
  margin-right: 20px;
}
.container {
  margin-top: 100px;
}
.questions {
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  background-color: #cfcfd1;
  padding: 4px;
  width: 50%;
  margin: auto;
}
h1 {
  text-align: center;
}
