body {
  background-color: #f0f0f0;
  font-family: sans-serif;
}
h1 {
  background-color: #249e79;
  padding: 5px;
  margin: auto;
  width: 50%;
  text-align: center;
}
.home {
  background-color: #249e79;
  padding: 5px;
  margin: auto;
  width: 50%;
  text-align: center;
}
.questions {
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  background-color: #cfcfd1;
  padding: 5px;
  width: 50%;
  margin: auto;
}
